header {
  text-align: center;
}

img:hover {
  cursor: pointer;
}

main {
  display: flex;
  flex-wrap: wrap;

  mat-card {
    margin: 1%;
    flex: 1 1 43%;
    font-family: Impact,
      Haettenschweiler,
      'Arial Narrow Bold',
      sans-serif;
    color: #00b300;
  }
}
