<div class="container">
  <header>
    <h1>Will Ferrell is the king</h1>
  </header>

  <main>
    <mat-card *ngFor="let movie of movies">
      <mat-card-header>
        <mat-card-title>{{movie?.Title}}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div><span>Id: </span>{{movie?.imdbID}}</div>

        <div><span>Runtime: </span>{{movie?.Runtime}}</div>

        <div><span>Year: </span>{{movie?.Year}}</div>

        <div><span>Genre: </span>{{movie?.Genre}}</div>

        <div><span>Director: </span>{{movie?.Director}}</div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button (click)="openDialog(movie)">Edit</button>

        <button mat-raised-button>Delete</button>
      </mat-card-actions>
    </mat-card>
  </main>
</div>
