<div class="dialog-container">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <h3 mat-dialog-title>{{dialogHeader}}</h3>

    <mat-dialog-content>
      <div class="row">
        <div class="form-field">
          <mat-form-field>
            <label>Id: </label>

            <input matInput type="text" formControlName="imdbId" />

            <mat-error>{{errors.required}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field>
            <label>Title: </label>

            <input matInput type="text" formControlName="title" />

            <mat-error>{{errors.required}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="form-field">
          <mat-form-field>
            <label>Runtime: </label>

            <input matInput type="text" formControlName="runtime" />

            <mat-error>{{errors.required}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field>
            <label>Year: </label>

            <input matInput type="text" formControlName="year" />

            <mat-error>{{errors.required}}</mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="form-field">
          <mat-form-field>
            <label>Gener: </label>

            <input matInput type="text" formControlName="genre" />

            <mat-error>{{errors.required}}</mat-error>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field>
            <label>Director: </label>

            <input matInput type="text" formControlName="director" />

            <mat-error>{{errors.required}}</mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-raised-button type="submit">Save</button>

      <button mat-raised-button>Cancel</button>
    </mat-dialog-actions>
  </form>
</div>
