<div class="dialog-container">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <h3 mat-dialog-title>{{dialogHeader}}</h3>

    <mat-dialog-content>
      <div class="form-field">
        <mat-form-field>
          <input matInput type="text" formControlName="imdbId" placeholder="Id: " />

          <mat-error>{{errors.required}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field>
          <input matInput type="text" formControlName="title" [value]="form.get('title').value | titlecase | removeNonAlpha"
            placeholder="Title: " />

          <mat-error>{{errors.required}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field>
          <input matInput type="text" formControlName="runtime" placeholder="Runtime: " />

          <mat-error>{{errors.required}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field>
          <input matInput type="number" formControlName="year" placeholder="Year: " />

          <mat-error *ngIf="year.errors?.required">{{errors.required}}</mat-error>

          <mat-error *ngIf="year.errors?.min || year.errors?.max">{{errors.number}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field>
          <input matInput type="text" formControlName="genre" placeholder="Gener: " />

          <mat-error>{{errors.required}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form-field">
        <mat-form-field>
          <input matInput type="text" formControlName="director" placeholder="Director: " />

          <mat-error>{{errors.required}}</mat-error>
        </mat-form-field>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-raised-button type="submit">Save</button>

      <button mat-raised-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
  </form>
</div>
