.dialog-container * {
  font-family: Impact,
    Haettenschweiler,
    'Arial Narrow Bold',
    sans-serif;
  color: #00b300;
  display: flex;
  flex-wrap: wrap;

  h3 {
    width: 100%;
  }

  .form-field {
    margin: 1%;
    flex: 1 1 30%;

    mat-error {
      color: #f44336;
    }
  }
}
