@import '~@angular/material/prebuilt-themes/purple-green.css';

html {
  background-color: black;

  body,
  button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #00b300;
  }
}
