/* You can add global styles to this file, and also import other style files */
html {
  background-color: black;

  body,
  button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #00b300;
  }
}
